<launch>
  <arg name="calibration_file"
       default="$(find grasp_multicam)/current/calib.yaml"/>

  <arg name="fixed_frame_id" default="vision"/>
  <arg name="camera" default="ovc"/>
  <arg name="imu_topic"       default="$(arg camera)/imu"/>
  <arg name="left_cam_topic"  default="$(arg camera)/cam_0/image_raw"/>
  <arg name="right_cam_topic" default="$(arg camera)/cam_1/image_raw"/>
  <arg name="frame_rate"      default="20"/>
  <!-- Image Processor Nodelet  -->
  <node pkg="nodelet" type="nodelet" name="image_processor"
	args="standalone msckf_vio/ImageProcessorNodelet"
	output="screen">

    <rosparam command="load" file="$(arg calibration_file)"/>
      <param name="grid_row" value="16"/>
      <param name="grid_col" value="16"/>
      <param name="grid_min_feature_num" value="2"/>
      <param name="grid_max_feature_num" value="4"/>
      <param name="pyramid_levels" value="3"/>
      <param name="patch_size" value="15"/>
      <param name="fast_threshold" value="8"/>
      <param name="max_iteration" value="30"/>
      <param name="track_precision" value="0.01"/>
      <param name="ransac_threshold" value="3"/>
      <param name="stereo_threshold" value="4"/>

    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~cam0_image" to="$(arg left_cam_topic)"/>
    <remap from="~cam1_image" to="$(arg right_cam_topic)"/>

  </node>
#	launch-prefix="gdb -ex run --args"
  <node pkg="nodelet" type="nodelet" name="vio"
	args='standalone msckf_vio/MsckfVioNodelet'
	output="screen">

    <!-- Calibration parameters -->
      <rosparam command="load" file="$(arg calibration_file)"/>

      <param name="publish_tf" value="true"/>
      <param name="publish_on_imu_update" value="true"/>
      <param name="time_delay" value="0"/>
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      <param name="child_frame_id" value="ovc/imu"/>
      <param name="max_cam_state_size" value="20"/>
      <param name="position_std_threshold" value="8.0"/>

      <param name="rotation_threshold" value="0.2618"/>
      <param name="translation_threshold" value="0.4"/>
      <param name="tracking_rate_threshold" value="0.5"/>

      <!-- Feature optimization config -->
      <param name="feature/config/translation_threshold" value="-1.0"/>

      <!-- These values should be standard deviation -->
      <param name="noise/gyro" value="0.01"/> <!-- FLA value 0.01 -->
      <param name="noise/acc" value="0.1"/> <!-- FLA value 0.1 -->
      <param name="noise/gyro_bias" value="0.005"/>
      <param name="noise/acc_bias" value="0.05"/>
      <param name="noise/feature" value="0.01"/> <!-- FLA value 0.03 -->

      <param name="initial_state/velocity/x" value="0.0"/>
      <param name="initial_state/velocity/y" value="0.0"/>
      <param name="initial_state/velocity/z" value="0.0"/>

      <!-- These values should be covariance -->
      <param name="initial_covariance/velocity" value="0.25"/>
      <param name="initial_covariance/gyro_bias" value="0.0001"/>
      <param name="initial_covariance/acc_bias" value="0.01"/> <!-- FLA: 0.01-->
      <param name="initial_covariance/extrinsic_rotation_cov" value="3.0462e-4"/>
      <param name="initial_covariance/extrinsic_translation_cov" value="2.5e-5"/>

      <remap from="~imu" to="$(arg imu_topic)"/>
      <remap from="~features" to="image_processor/features"/>
  </node>

</launch>
